QTableWidget {
    alternate-background-color: #d9d9d9;
    gridline-color: #bdbdbd;
}

QHeaderView::section {
    background-color: #d9d9d9;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    padding: 10;
    font-size: 15px;
    font-weight: bold;

}

QTableWidget, td {
    font-size: 18px;
}

QLabel {
    padding: 5px;
}

